<html>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>
  <head>
    <title>Configuration</title>
  </head>
  <body style="background: black">
    <div>
    <span style="float:left; display:inline-block">
      <div>
        <ul id="pipelines_list">
          <% pipelines_list.each do |pipeline| %>
          <div class="checkbox" style="color:#FF6600">
              <input type="checkbox" name=<%= pipeline %> value=<%= pipeline %>/><%= pipeline %><br>                
          </div>
          <% end %>
        </ul>
      </div>
    </span>  
  </body>
</html>