<html style="height:100%" >
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <script src="/js/dashboard.js"></script>
  <link rel="stylesheet" href="/css/jquery-ui.css">
  <head>
    <title>DashBoard</title>
  </head>
  <script>
    $( "#pipeline_container").progressbar({
    value: false
  });
</script>
  <body style="background: black ;height:100%">
      <div id="pipeline_container" class="pipeline_list"></div>
  </body>
</html>