<html>
  <link rel="stylesheet" href="/style.css">
  <script src="/jquery.js"></script>
  <script src="/dashboard.js"></script>

  <head>
    <title>Dashboard</title>
  </head>
  <body>

    <% if greeting %>
      <p>I just wanted to say <em style="color: green; font-size: 2em;"><%= greeting %></em>.
    <% else %>
      <em>Hello</em>, world!
    <% end %>

  </body>
</html>