.pipeline_list {
	/*width: 50%;*/
	height:100%
}
.pipeline{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	margin-left: 5px;
	height: 5em !important;
}
.caption_pipeline{ 
	width: 100%; 
	margin-top: 25px; 
	text-align: center;
	height: 100%;
	font-weight: x-large;
}

.failed{
	background-color: #D44949 !important;
}

.passed{
	background-color: #49D47B !important;
}

.pending{
	background-color: #F5E573 !important;
}

.pipeline_container{
	float: left;
	width: 400px;
}